.title{
    display: flex;
    justify-content: center;
}

.img-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.img-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s ease-in-out;
    width: 300px;
    
}
.img-card:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.img-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

button{
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.no-imgs{
    display: flex;
    justify-content: center;
    font-size: 24px;
}